.game-area {
    display: flex;
    flex-direction: row;
}

.canvas-container {
    width: 900px;
    height: 900px;
}

.canvas-container canvas {
    position: absolute;
}

.sidebar {
    background: #ccc;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.sidebar div {
    margin: 5px 0;
}

#inventory-canvas {
    width: 120px;
    height: 60px;
}