.game-area{
    display: flex;
    flex-direction: row;
}

.canvas-container {
    width: 900px;
    height: 900px;
}

.canvas-container canvas {
    position: absolute;
}

.sidebar {
    background: #ccc;
    width: 350px;
}